h1 {
    background-color:#ce1126;
    font-style: italic;
    font-family: fantasy;
    margin: argin:20px;
    padding:20px;
}

h2 {
    color: white;
    font-family: Arial;

}
div.class h3 {
    background-color:#ce1126;
    font-style: italic;
    font-family: fantasy;
color: white;

    /*position: absolute;*/
}
body {
    background-color:#b99e6b;
}
div.menu {
    background-color:white;
    color:red;
    margin:20px;
    padding:20px;
}

div {
    background-color:#b7b36a;
    color:#979797;
    border: 1px solid black;
    padding: 10px;background-color: #8cac87;
    margin: 30px;

}
p {
  color: #845321;
}
h3{
  color:#432D24;
}
h4{
  color:#800000;
}
h5{
  font-size: 18px;
}
