h1 {
    background-color:#ce1126;
    font-style: italic;
    font-family: fantasy;
    margin: argin:20px;
    padding:20px;
}
div.h3 {
    background-color:#ce1126;
    font-style: italic;
    font-family: fantasy;
    position: absolute;
}
body {
    background-color:#b99e6b;
}
div.menu {
    background-color:white;
    color:red;
    margin:20px;
    padding:20px;
}

div {
    background-color:#b7b36a;
    color:#979797;
    border: 1px solid black;
    padding: 10px;background-color: #8cac87;
    margin: 30px;
    width: 1760px;
    height: 600px;
}
p {
  color: #845321;
}
h3{
  color:#432D24;
}
index.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
index.li {
    display: inline;
}
about.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
about.li {
    display: inline;
  }

menu.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
menu.li {
    display: inline;
}
